name: Deploy for test

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
      
    steps:                                          
      - name: Checkout code
        uses: actions/checkout@v4
