name: Code checkout only

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
      
    steps:    
      #checkout repository
      - name: Checkout code 
        uses: actions/checkout@v2



