name: Deploy for test

on:
  push:
    branches:
      - develo

jobs:
  deploy:
    runs-on: ubuntu-latest
      
    steps:        
      # Code checkout
      - name: Checkout code
        uses: actions/checkout@v4
