name: Code checkout only

on:
  push:
    branches:
      # - develop
      - feature/DP-1-test

jobs:
  deploy:
    runs-on: ubuntu-latest
      
    steps:    
      #checkout repository
      - name: Checkout code 
        uses: actions/checkout@v4
