name: Call Jira Key Validation

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  call-jira-validation:
    uses: ./.github/workflows/jira-key-check.yaml
    with:
      branch: develop
